body {
  background-color: #16100F;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container {
  color: #fff;
}

.nav-item {
  font-size: 24px !important;
}

#navbar-name {
  font-size: 30px !important;
  color: #fff;
}
